.gabodjango_logo {
    font-family: 'Lobster', cursive;
 }

.gabodjango_footer_button {
    font-size: .6rem
}

.gabodjango_footer {
    text-align: center; margin-top: 2rem
}

.gabodjango_header {
    text-align: center; margin: 2rem 0
}

