    <div class="gabodjango_header">
    <!-- margin: 상하, 좌우 / cursive는 설정한 폰트가 사용되지 않았을 때 대체 글꼴-->
        <div>
            <h1 class="gabodjango_logo">Gabo-Django</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
                <a href="{% url 'accountApp:login' %}?next={{ request.path }}">
                    <span>login</span>
                </a>

                <a href="{% url 'accountApp:create' %}">
                    <span>SignUp</span>
                </a>

            {% else %}
                <a href="{% url 'accountApp:detail' pk=user.pk %}">
                    <span>My Page</span>
                </a>

                <a href="{% url 'todoApp:todo_list' %}">
                    <span>To do</span>
                </a>

                <a href="{% url 'accountApp:logout' %}?next={{ request.path }}">
                    <span>logout</span>
                </a>

            {% endif %}
        </div>
    </div>
