<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_header_logo">Pragmatic</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            {% if not target_user.is_authenticated %}
            <span>nav3</span>
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=target_user.pk %}">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>
</body>
</html>